<div *ngIf="isLoading" class="loader-container">
  <mat-spinner [diameter]="260"></mat-spinner>
</div>

<div *ngIf="!isLoading" class="page-container">
  <div class="main-section">
    <div class="mat-display-2">
      {{user.name}}&nbsp;{{user.surname}}
    </div>
    <div class="buttons-section">
      <form class="example-form" [formGroup]="transferFormGroup">
        <mat-form-field class="example-form">
          <input type="number" matInput placeholder="Transfer amount" formControlName="amount">
          <mat-error *ngIf="!transferFormGroup.get('amount').valid">
            {{'Amount is required'}}
          </mat-error>
        </mat-form-field>
        <mat-error class="error-section" *ngIf="transferError && formSubmitted">
          {{transferError}}
        </mat-error>
      </form>
      <button mat-flat-button
              color="primary"
              (click)="onTransferMoney(transferFormGroup.get('amount').value)"
              [disabled]="!transferFormGroup.valid || isTransferLoading">{{ isTransferLoading ? '' : 'Transfer money'}}<mat-spinner *ngIf="isTransferLoading" class="spinner" [diameter]="20"></mat-spinner></button>
    </div>
  </div>
  <div class="mat-h2">
    Balance:&nbsp;{{user.balance}}&nbsp;$
  </div>
  <div class="mat-h2">
    Email:&nbsp;{{user.email}}
  </div>
  <div class="mat-h2">
    Username:&nbsp;{{user.username}}
  </div>
  <div>
    <div class="mat-h1">
      User transactions
    </div>
    <mat-form-field class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>

      <ng-container matColumnDef="sender_id">
        <th mat-header-cell *matHeaderCellDef> From </th>
        <td mat-cell *matCellDef="let element"> {{element.sender_id}} </td>
      </ng-container>

      <ng-container matColumnDef="receiver_id">
        <th mat-header-cell *matHeaderCellDef> To </th>
        <td mat-cell *matCellDef="let element"> {{element.receiver_id}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="user-line" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
