<div *ngIf="isLoading" class="loader-container">
  <mat-spinner [diameter]="260"></mat-spinner>
</div>

<div *ngIf="!isLoading" class="page-container">
  <div class="header-section">
    <div class="mat-display-1">
      Store
    </div>
    <button *ngIf="user.isAdmin" mat-flat-button color="primary" (click)="navigate('store-item/new')">Add store item</button>
  </div>
  <div class="store-container">
    <mat-card *ngFor="let storeItem of storeItems" class="example-card">
      <mat-card-header>
        <mat-card-title>{{storeItem.name}}</mat-card-title>
        <mat-card-subtitle>{{storeItem.price}}&nbsp;$</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="item-photo" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{storeItem.description}}
        </p>
      </mat-card-content>
      <mat-card-actions class="buttons-container">
        <button mat-button class="purchase-button" (click)="onBuyItemClicked(storeItem.id)">{{ loadingPurchaseId === storeItem.id ? '' : 'BUY'}}<mat-spinner *ngIf="loadingPurchaseId === storeItem.id" class="spinner" [diameter]="20"></mat-spinner></button>
        <button *ngIf="user.isAdmin" mat-button class="purchase-button" (click)="navigate('store-item/' + storeItem.id)">UPDATE</button>
        <button *ngIf="user.isAdmin" mat-button class="purchase-button" (click)="onDeleteItemClicked(storeItem.id)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
