<mat-toolbar
  color="primary">
  <div class="clicable" (click)="navigate('landing')">SlideWallet</div>
  <div class="nav-section">
    <div class="nav-section-item clicable" (click)="navigate('users')">User list</div>
    <div class="nav-section-item clicable" (click)="navigate('transactions')">Transactions</div>
    <div class="nav-section-item clicable" (click)="navigate('store')">Store</div>
    <div class="nav-section-item clicable" (click)="navigate('feedback')">Feedback</div>
    <mat-icon *ngIf="user" class="account clicable" [matMenuTriggerFor]="menu">account_circle</mat-icon>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<mat-menu #menu="matMenu">
  <ng-container *ngIf="user">
    <div mat-menu-item (click)="navigate('profile')">{{user.username}}</div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="navigate('auth/change-password')">Change password</button>
    <button mat-menu-item (click)="onLogoutClicked()">Logout</button>
  </ng-container>
</mat-menu>
