<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class = "mat-h1">Sign in</h1>
  </mat-toolbar-row>
</mat-toolbar>

<form class="sign-in-form"
      [formGroup]="signInFormGroup">
  <mat-form-field class="inputs">
    <input matInput placeholder="Email" formControlName="login">
    <mat-error *ngIf="!isEmailValid()">
      {{signInFormGroup.get('login').hasError('login') ? 'Please enter a valid login' : 'Login is required'}}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="inputs">
    <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
    <mat-icon matSuffix class="clicable" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error *ngIf="signInFormGroup.get('password').hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>
  <div class="field">
    <mat-checkbox color="primary">Remember me</mat-checkbox>
    <div class="buttons-section">
      <button mat-flat-button
              color="primary"
              class="sign-in-button"
              (click)="onSignInClicked()"
              [disabled]="!signInFormGroup.valid || isFetching">{{ isFetching ? '' : 'Sign in'}}<mat-spinner *ngIf="isFetching" class="spinner" [diameter]="20"></mat-spinner></button>
      <span class="or">Or</span>
      <button mat-stroked-button (click)="onRegisterClicked()">Register here</button>
    </div>
    <mat-error *ngIf="error && formSubmitted" class="back-section">
      {{error}}
    </mat-error>
  </div>
</form>
